{% extends 'heroku.html.twig' %}
{% block stylesheets %}<link rel="icon" type="image/x-icon" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
{% endblock %}
{% block body %}
<h1>{{ title }}</h1>

{% for category in categories %}
<h3>Categoria {{ category.Name }}</h3>
<table><thead><tr><td>Identificador</td><td>Nombre</td><td>Precio</td><td>Descripción</td><td></td></tr></thead>

<tbody>
{% for product in category.products %}
	<tr><td><a href="/product/show/{{ product.Id }}">{{ product.id }}</a></td><td>{{ product.Name }}</td><td>{{ product.Price }}</td><td>{{ product.Description }}</td>
	<td><a href="/product/delete/{{ product.Id }}">borrar</a></td>
	</tr>
	
	{% endfor %}</tbody>
</table>
{% endfor %}
{% endblock %}