{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="icon" type="image/x-icon" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
{% endblock %}
{% block body %}
<h1>{{ title }}</h1>
	<ul>
	{% for nav in nav  %}
	<li><a href="/T42/{% if nav!="home" %}
	{{ nav }}
	{% endif %}
	">{{ nav }}</a></li>
	{% endfor %}
	</ul>
	<form>
	{% for input in input %}<input type="{{ input }}"/>
	{% endfor %}
	</form>
	{{ p }}
{% endblock %}